# Ignore byte-compiled files
__pycache__/
*/__pycache__/

# Ignore local editor settings
.idea/
.vscode/
venv/

# Ignore unrelated package files
build/
tests/test_data/
*/*.egg-info/

# Ignore any 'Masters' entries
Masters/
Masters.zip

# Ignore backup files
*_backup*

# Ignore Jupyter notebook files
*.ipynb
.ipynb_checkpoints/
